
@media screen and (max-width:480px) {
    img  {width: 400px; 
    justify-content: center;} 
    body {
        display: flex;
        justify-content: center;
        width: fit-content;
        justify-items: center;
        justify-content: space-evenly;
       
    
    }

.navbar-nav {
    border-style: none;
    background-color: none;
    width: 300px;
    height: fit-content; 
    align-items: flex-start;

}

.cccaja-1, .cccaja-2, .cccaja-3, .cccaja-4, .cccaja-5 {
    background-color: transparent;
    border-style: none;
}


    
    .header {
        display: grid;
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        align-items:flex-start;
        text-align: start;
        
    }


    .contenido {
        display:flex ;
        width: fit-content;
        height: fit-content;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        text-align: justify;
}

.grid {
display: grid;
flex-direction: column;
align-items:flex-start;
width: fit-content;
grid-auto-flow: column;

}
.novedades {
    visibility: hidden;
    
}

.buscador {
    visibility: hidden;
}
.footer {
    display: grid;
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        align-items:flex-start;
        text-align: start;
    }
}


