@import "./variables/vars";
@import "./layout/grid";
@import "./layout/header-footer";
@import "./layout/media";


body {
    background-color: whitesmoke;
    padding: 5px;
    border: 10px;
    display: inline-block;
    font-family: $FontMDRN;
    font-size: medium;
    width: fit-content;
    height: fit-content;


ul li {
    font-family: $FontMDRN;
    list-style-type: none;
    display: inline-block;
}

ol {
    a {
    font-family: $FontMDRN; 
    font-style: bold;
font-size: large;
color: rgb(123, 24, 123);

}
}
}

li 
{
    a {
        color:rgb(229, 219, 219);
        border-style: double;
    }
}
div {
    align-items: center;
}

img {
    width: fit-content;
    background-color: whitesmoke;
    border-image: 2px;

}

.tarjetaFAQ {
    padding-left: 27%;
    padding-top: 3%;
} 


.contenido {
    grid-area: contenido;
    justify-items: center;
    align-content: center;
    background-color: whitesmoke;
}


.buscador {
    @include buscador-novedades ();

    .navbar-light {
        justify-content: center;
        align-items: center;
    }

}

.novedades {
    @extend .buscador; 
}


.footer {
    grid-area: footer;
    font-family: $FontMDRN;
    border-style: double;
}


strong {
    color: rgb(229, 219, 219);
    font-family: $FontMDRN;
}

 .btn {
    background-color: rgb(178, 34, 34);
    text-decoration: solid;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: ease-out 0.3s;
    animation-name: btn;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    margin-top: 6px;

    @keyframes btn {
        from {
            background-color: rgb(178, 34, 34)
        }

        to {
            background-color: rgb(42, 4, 53);
        }

    }
}