@import "./variables/vars";
@import "./layout/grid";
@import "./layout/header-footer";


body {
    background-color: whitesmoke;
    padding: 5px;
    border: 10px;
    display: inline-block;
    font-family: $FontMDRN;
    font-size: medium;
    width: fit-content;
    height: fit-content;


ul li {
    font-family: $FontMDRN;
    list-style-type: none;
    display: inline-block;
}

ol {
    a {
    font-family: $FontMDRN; 
    font-style: bold;
font-size: large;
color: rgb(123, 24, 123);

}
}
}

li 
{
    a {
        color:rgb(229, 219, 219);
        border-style: double;
    }
}
div {
    align-items: center;
}
h1 {
    margin-top: 3%;
}

.form-check {
    text-align: left;
  }

  .carousel {
    width: 550px;
    height: 470px;
    margin-left: 20%;
    margin-top: 5%;
    }

h5 {
    background: $gradiente1;

}
img {
    width: fit-content;
    background-color: whitesmoke;
    border-image: 2px;

}

.tarjetaFAQ {
    padding-left: 27%;
    padding-top: 3%;
} 


.contenido {
    grid-area: contenido;
    justify-items: center;
    margin-top: 3%;
    align-content: center;
    background-color: whitesmoke;
}


.buscador {
    @include buscador-novedades ();

    .navbar-light {
        justify-content: center;
        align-items: center;
    }

}

.novedades {
    @extend .buscador; 
}


.footer {
    grid-area: footer;
    font-family: $FontMDRN;
    border-style: double;
    .fa-twitter {
        background: #55ACEE;
        color: white; 

        }

        .fa-instagram {
            background: #E1306C;
            color: white; 

        }
}


strong {
    color: rgb(229, 219, 219);
    font-family: $FontMDRN;
}

 .btn {
    background-color: rgb(178, 34, 34);
    text-decoration: solid;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: ease-out 0.3s;
    animation-name: btn;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    margin-top: 6px;

    @keyframes btn {
        from {
            background-color: rgb(178, 34, 34)
        }

        to {
            background-color: rgb(42, 4, 53);
        }

    }
}

/** media queries **/


@media only screen and (max-width:480px) {

    header {
        height: fit-content;
        width: fit-content;
        margin: 0;
        padding: 0%;
        border-style: none;
        border-radius: 0%;
        


        .navbar-nav {
            border-style: none;
            background-color: none;
            width: 7em;
            height: fit-content; 
            align-items: flex-start;

        }
        
        .cccaja-1, .cccaja-2, .cccaja-3, .cccaja-4, .cccaja-5 {
            background-color: transparent;
            border-style: none;
            font-size: 0.8em;
            align-content: center;
        }


    }

    body, html {
        height: 100%;
        width: 100vh;
        display: flex;
        flex-direction: column; 
        width: 100%;
    }

h1 {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    text-align:center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.carousel {
    width: 350px;
    height: 170px;
    margin-left: 2%;
    margin-top: 5%;
}

.form-floating {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
}
.form-control  {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
}


img, .image {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    padding: 0, 0, 0, 0;
    height: 300px;
    width: 330px;
    margin-left: 1%;
    margin-right: 1%;
}

.card, .tarjetaFAQ {
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-items: left;
    padding-left: 2%;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0, 0, 0, 0;
    margin: auto;
    justify-content:center; 
}
.novedades {
    visibility: hidden;
}

.buscador {
    visibility: hidden;
}
.footer {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
   .fa {
    background: none ;
   }
}
}
