@import "./variables/vars";
@import "./layout/grid";
@import "./layout/media";

body {
    background-color: whitesmoke;
    padding: 5px;
    border: 10px;
    display: inline-block;
    font-family: $FontMDRN;
    font-size: medium;
    width: fit-content;
    height: fit-content;


ul li {
    font-family: $FontMDRN;
    list-style-type: none;
    display: inline-block
}

div {
    align-items: center;
}

img {
    width: fit-content;
    background-color: whitesmoke;
    border-image: 2px;

}}

.container {
    font-family: $FontMDRN;
}

.header {
    grid-area: header;
    display: grid;
    background: $gradiente2;
    font-size: 30px;
    border-style: double;
}

.novedades {
    grid-area: novedades;
    display: flexbox;
    align-items: center;
    background: $gradiente1;
    border-style: double;

}

.contenido {
    grid-area: contenido;
    justify-items: center;
    align-content: center;
    background-color: whitesmoke;
}


.buscador {
    grid-area: buscador;
    display: flexbox;
    background: $gradiente1;
    border-style: double;
    justify-content: center;
    align-items: center;

    .navbar-light {
        justify-content: center;
        align-items: center;
    }
}

.footer {
    grid-area: footer;
    background-color: rgba(82, 124, 109, 1);
    font-family: $FontMDRN;
    border-style: double;
}

strong {
    color: rgb(229, 219, 219);
    font-family: $FontMDRN;
}

button {
    background-color: rgb(178, 34, 34);
    text-decoration: solid;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: ease-out 0.3s;
    animation-name: button;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    margin-top: 6px;

    @keyframes button {
        from {
            background-color: rgb(178, 34, 34)
        }

        to {
            background-color: rgb(42, 4, 53);
        }

    }
}