* {
  margin: 5px;
  padding: 5px;
  border: 5px;
  text-align: center; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
  viewport-fit: 100%;
  grid-template-areas: "header header header header" "contenido contenido contenido buscador" "contenido contenido contenido novedades" "contenido contenido contenido none" "contenido contenido contenido none" "footer footer footer footer"; }

@media screen and (max-width: 480px) {
  img {
    width: 400px;
    justify-content: center; }
  body {
    display: flex;
    justify-content: center;
    width: fit-content;
    justify-items: center;
    justify-content: space-evenly; }
  .header {
    display: grid;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    text-align: start; }
  .contenido {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: justify; }
  .grid {
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    grid-auto-flow: column; }
  .novedades {
    visibility: hidden; }
  .buscador {
    visibility: hidden; }
  .footer {
    display: grid;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    text-align: start; } }

body {
  background-color: whitesmoke;
  padding: 5px;
  border: 10px;
  display: inline-block;
  font-family: 'Jacques Francois', serif;
  font-size: medium;
  width: fit-content;
  height: fit-content; }

ul li {
  font-family: 'Jacques Francois', serif;
  list-style-type: none;
  display: inline-block; }

div {
  align-items: center; }

img {
  width: fit-content;
  background-color: whitesmoke;
  border-image: 2px; }

.container {
  font-family: 'Jacques Francois', serif; }

.header {
  grid-area: header;
  display: grid;
  background: linear-gradient(70deg, rgba(2, 70, 6, 0.92), #3d8e70);
  font-size: 30px;
  border-style: double; }

.novedades {
  grid-area: novedades;
  display: flexbox;
  align-items: center;
  background: radial-gradient(#3d8e70, #8a8ac6);
  border-style: double; }

.contenido {
  grid-area: contenido;
  justify-items: center;
  align-content: center;
  background-color: whitesmoke; }

.buscador {
  grid-area: buscador;
  display: flexbox;
  background: radial-gradient(#3d8e70, #8a8ac6);
  border-style: double;
  justify-content: center;
  align-items: center; }
  .buscador .navbar-light {
    justify-content: center;
    align-items: center; }

.footer {
  grid-area: footer;
  background-color: #527c6d;
  font-family: 'Jacques Francois', serif;
  border-style: double; }

strong {
  color: #e5dbdb;
  font-family: 'Jacques Francois', serif; }

button {
  background-color: firebrick;
  text-decoration: solid;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: ease-out 0.3s;
  animation-name: button;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  margin-top: 6px; }

@keyframes button {
  from {
    background-color: firebrick; }
  to {
    background-color: #2a0435; } }
